{% extends "producto/base.html" %}
{% block title %}Crear Subcategoría{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Agregar subcategoría en {{ categoria_padre.nombre }}</h2>

  <form method="post" class="shadow-sm p-4 bg-light rounded">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre de la subcategoría</label>
      <input type="text" name="nombre" id="nombre" class="form-control" required>
    </div>

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-success">Guardar</button>
      <a href="{% url 'ver_categoria' categoria_padre.id %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}