{% extends 'producto/base.html' %}
{% block content %}
<h2>{{ categoria.nombre }}</h2>

{% if subcategorias %}
    <h3>Subcategorías</h3>
    <ul>
        {% for sub in subcategorias %}
            <li><a href="{% url 'ver_categoria' sub.id %}">{{ sub.nombre }}</a></li>
        {% endfor %}
    </ul>
{% elif productos %}
    <h3>Productos</h3>
    <ul>
        {% for p in productos %}
            <li>{{ p.nombre }} - {{ p.precio_venta }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay subcategorías ni productos.</p>
{% endif %}

{% if es_gerente %}
    {% if not categoria.categoria_padre %}
        <a href="{% url 'crear_subcategoria' categoria.id %}">➕ Agregar subcategoría</a>
    {% else %}
        <a href="{% url 'crear_producto' categoria.id %}">➕ Agregar producto</a>
    {% endif %}
{% endif %}
{% endblock %}