{% extends 'base.html' %}
{% block content %}
<h2 class="mb-3">Mis Ventas</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Total</th>
      <th>Método</th>  <!-- 🔥 NUEVA COLUMNA -->
      <th>Ver Detalle</th>
    </tr>
  </thead>
  <tbody>
    {% for venta in ventas %}
    <tr>
      <td>{{ venta.id }}</td>
      <td>{{ venta.fecha }}</td>
      <td>
        {% if venta.reserva %}
          {{ venta.reserva.estado }}
        {% else %}
          Sin reserva
        {% endif %}
      </td>
      <td>{{ venta.total_venta }} Bs</td>

      <!-- 🔥 NUEVA COLUMNA: MÉTODO DE PAGO -->
      <td>{{ venta.id_pago.descripcion }}</td>

      <td>
        <a href="{% url 'detalle_venta' venta.id %}" class="btn btn-sm btn-primary">
          Ver
        </a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6" class="text-center">No tienes ventas registradas.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}