<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MiniMarket{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>

        {% if user.is_authenticated %}
            <span>Hola, {{ user.username }}</span>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>

            {% if user.empleado.cargo.cargo == "Gerente" %}
                <a href="{% url 'ver_clientes' %}">Clientes</a>
                <a href="{% url 'ver_empleados' %}">Empleados</a>
                <a href="{% url 'ver_bitacora' %}">Bitácora</a>
            {% endif %}

        {% else %}
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <a href="{% url 'signup' %}">Registrarse</a>
        {% endif %}
    </nav>

    <hr>

    <div>
        {% block content %}
        <!-- Aquí se insertará el contenido de cada página -->
        {% endblock %}
    </div>
</body>
</html>
