{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Lista de Clientes</h2>
  <div class="d-flex justify-content-between align-items-center mb-3">

  
  <div>
    <a href="{% url 'reportes:panel_reportes' %}" class="btn btn-outline-primary">
      📊 Ver Reportes
    </a>
  </div>
</div>

  {% if clientes %}
    <div class="list-group">
      {% for c in clientes %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ c.usuario.username }}</strong> — {{ c.usuario.correo }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-info">
      No hay clientes registrados.
    </div>
  {% endif %}
</div>
{% endblock %}
